#sidebar {
	float: left;
	width: 366px;
}

#sidebar ul, #sidebar li {
	padding: 0;
	margin: 0;
}

#main-content {
/*	border:1px solid green;*/
/*	margin-left: 200px;*/
}

#main-content div {
	display: none;
}

#container {
	width: 1024px;
	margin: 10px auto;
}

#accordion-bar {
/*	float:left;*/
	vertical-align:top;
	display:inline-block;
	position:relative;
/*	left: 100px;*/
/*	top: 10px;*/
}

#portrait {
	text-align:center;
	display:inline-block;
	position:relative;
/*	left: 120px;*/
	width: 184px;
	height: 184px;
/*	background: #40C070;*/
}

#gravatar{
	display:inline-block;
	position:relative;
	margin: 3px;
	padding: 2px;
	border: rgb(255, 255, 192) solid 1px;
	width:120px;
	height:120px;
/*	background-image:url("http://www.gravatar.com/avatar/16835ccf63c05eea442ba1bb3e75dddc?s=120");*/
/*	background-repeat:no-repeat;*/
}

#clear {
	clear: both;
}

abbr {
	border-bottom:1px dotted gray;
	cursor:help;
}

iframe {
	background-color: black;
/*	height: 100%;*/
	width: 800px;
}

body{
	color: white; font-family: 'Josefin Sans', sans-serif;
/*	background-image:url('../img/tweed/tweed.png');*/
/*	background-image:url('../img/dark-grey-tile/px_by_Gre3g.png');*/
/*	background-image:url('../img/debut_dark/debut_dark.png');*/
/*	background-image:url('../img/grey-tile/random_grey_variations.png');*/
/*	background-image:url('../img/woven/woven.png');*/
	background-image:url('../img/binding_dark/binding_dark.png');

	background-repeat:repeat;
}

a{
	color: rgb(255, 255, 192); font-family: 'Josefin Sans', sans-serif;
}
