@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
body {
    min-height: 100vh;
    overflow: hidden;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

a {
    color: unset;
}

.light-blue-1 {
    color: #6fa8dc !important;
}

.bg-light-blue-1 {
    background-color: #6fa8dc !important;
}

.dark-blue-1 {
    color: #3d85c6 !important;
}

.bg-dark-blue-1 {
    background-color: #3d85c6 !important;
}

.dark-blue-2 {
    color: #0b5394 !important;
}

.light-blue.darken-6 {
    color: #1d4564 !important
}

.bg-dark-blue-2 {
    background-color: #0b5394 !important;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    /* background-color: #4CAF50; */
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #03a9f4;
    color: white;
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: calc(100vh - 6.58em);
    position: relative;
    overflow-y: scroll;
}

.uppercase {
    text-transform: uppercase;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-25 {
    opacity: 0.25;
}

.bannerContainer {
    position: sticky;
    z-index: 1001;
}

.topBanner {
    /* display: block; */
    padding: 1.2rem;
    font-size: 1.6rem;
}

.navHeader {
    display: block;
    padding: 16px;
    font-weight: 400;
}

.navHeaderSubtext {
    font-size: 60%;
}

.nav-link {
    width: 100%;
}

.nav-pills .nav-link.active {
    background-color: #6fa8dc;
}

.nav-pills .nav-link {
    border-radius: 2rem 0 0 2rem;
}

.navbar {
    display: unset;
}

.navbar-brand {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
    .nav-link {
        width: unset;
    }
    .navbar {
        display: flex;
    }
    .nav-pills .nav-link {
        border-radius: 2rem;
    }
    #navigationMenu {
        font-size: 0.8rem;
    }
    .navbar-brand {
        font-size: 1rem;
    }
    .content {
        height: calc(100vh - 7.3em);
    }
}

@media screen and (max-width: 576px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    #navigationMenu {
        font-size: 0.6rem;
    }
    .navbar-brand {
        font-size: 0.8rem;
    }
}

.smallcaps {
    font-variant: small-caps;
}

.sidebar-shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32), 0 2px 10px 0 rgba(0, 0, 0, 0.24) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32), 0 2px 10px 0 rgba(0, 0, 0, 0.24) !important;
    z-index: 5;
}

/* .navbar-gradient {
    background: linear-gradient(180deg, rgba(2, 136, 209, 1) 64%, rgba(0, 112, 173, 1) 100%);
}

.topbar-gradient {
    background: linear-gradient(0deg, rgba(1, 110, 175, 1) 0%, rgba(2, 119, 189, 1) 100%);
}

.body-gradient {
    background: -webkit-linear-gradient(top, rgba(1, 94, 167, 1.0), rgba(1, 88, 155, 1.0));
    background: -moz-linear-gradient(top, rgba(1, 94, 167, 1.0), rgba(1, 88, 155, 1.0));
    background: linear-gradient(to bottom, rgba(1, 94, 167, 1.0), rgba(1, 88, 155, 1.0));
} */

.body-gradient-inner {
    background: rgba(0, 0, 0, 0.1);
}

.gradient-overlay-light {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0) 100%);
}

.gradient-overlay-dark {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.1) 100%);
}

.gradient-overlay-dark-2 {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.) 100%); */
    background: linear-gradient(180deg, rgba(30, 0, 30, 0.3) 20%, rgba(30, 0, 30, 0.5) 100%);
}

#post-spacing {
    height: 50vh;
}