

// Overrides go before the bootstrap import
@import "../node_modules/bootstrap/scss/bootstrap";

$testcolor : #3d85c6;

.bannerContainer {
    background-color: $testcolor;
}
.shadow-3D {
    background-color: shade-color($testcolor, 50%);
}
.light-3D {
    background-color: tint-color($testcolor, 20%);
}
#navigationMenu {
    background-color: shade-color($testcolor, 80%);
}
.content {
    background-color: shade-color($testcolor, 20%);
    // background-color: tint-color($testcolor, 80%);
}
.sidebar a:hover:not(.active) {
    background-color: tint-color($testcolor, 20%);
    color: $white;
}
.sidebar a {
    color: $testcolor;
}
.card {
    // background-color: $blue-100;
    background-color: shade-color($testcolor, 80%);
}

* {
    scrollbar-color: tint-color($testcolor, 10%) shade-color($testcolor, 60%);
}
*::-webkit-scrollbar {
    width: auto;
}
.section {
    scrollbar-width: thin;
}
.section::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: shade-color($testcolor, 60%);
}
*::-webkit-scrollbar-thumb {
    background-color: tint-color($testcolor, 10%);
}