#sidebar {
	float: left;
	width: 366px;
}

#sidebar ul, #sidebar li {
	padding: 0;
	margin: 0;
}

#main-content {
/*	border:1px solid green;*/
/*	margin-left: 200px;*/
}

#main-content div {
	display: none;
}

#clear {
	clear: both;
}

abbr {
	border-bottom:1px dotted gray;
	cursor:help;
}

iframe {
	background-color: black;
/*	height: 100%;*/
	width: 800px;
}
