* {
    box-sizing: border-box;
}
body {
	color:#626262;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size:100%;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	background-color: #CFCCCE;

	max-width: 800px;
	min-width: 480px;
}
h1 {
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	font-style: italic;
	padding: 0 0 6px 0;
	margin: 0 0 0 0;
}
h2 {
	font-size: 16;
	color:#0c49aa;
	font-weight: 700;
}
p {
	padding: 0;
	margin: 0;
	/*margin-bottom: 10px;*/
}
ol {
	list-style-type: none;
	padding: 0;

	min-height: 120px;
	max-height: 500px;
    column-fill: auto;
    column-width: 180px;
    column-gap: 0px;
    -moz-column-fill: auto;
    -moz-column-width: 180px;
    -moz-column-gap: 0px;
    -webkit-column-fill: auto;
    -webkit-column-width: 180px;
    -webkit-column-gap: 0px;
}
ol li {
	width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
ul {
    list-style-type: disc;
    /*margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;*/
}
ul li {
    padding-bottom: 0.7em;
}
/*ol.list {
	-moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}*/
a:link,a:visited {
	color: #0c49aa;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
div {
	margin: 20px 0;
}
.dateRange {
	/*text-align: right;*/
	float:right;
}
/*.section {
	border-style:solid;
	border-width: 0 0 1px 0;
	border-color: #aaa;
}*/
.section p {
	margin-bottom: 10px;
}
.section a {
	float: right;
}
hr.style1 {
	height: 6px;
	border: 0;
	box-shadow: 0 20px 20px -18px #8c8b8b inset;
}
.entry {
    color: #444;
	font-weight: 700;
}
.jobtitle {
	color: #66B;
    font-weight: 700;
}
#contact {
	margin: 0;
	float:right;
	text-align: right;

}
#contact p {
	margin: 0 0 8px 0;
}
/*.resume {
	position:relative;
	max-width: 1000px;
	min-width: 470px;
}
.resume div {
	margin: 0 5%;
    background:#ddd;
}
.resume div:first-child,
.resume div:last-child {
    background:#eee;
    position:absolute;
    top:0;
    min-width: 10px;
    max-width: 100px;
}
.resume div:first-child {
    left:-110px;
}
.resume div:last-child {
    right:-110px;
}*/