html {
    font-family: 'Roboto', sans-serif;
    font-size:100%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
#bootstrap_override {
    font-size:1em;
    font-family: 'Roboto', sans-serif !important;
}
hr {
    margin:0;
    border-color:#888;
    border-right : 0;
    border-left: 0;
}
.row{
    width:100%;
    padding:0;
    display:flex;
  }
.navbar {
    min-height: 0;
    float:left;
    margin-left:0.05em;
    margin-right:0.05em;
    margin-bottom:0;
    padding-left:1em;
    padding-right:1em;
    color: white;
    background-color:#1d4991;
}
.labelName {
    margin: 0.5em 0;
    font-weight: 800;
    font-size: 120%;
    float:left;
    padding-right: 1em;
}
.labelEntry {
    margin: 0.6em 0;
    font-weight: 400;
    font-size: 110%;
}
.dataLabel {
    font-weight: 800;
    font-size: 1em;
}
.dataEntry {
    margin-left: 1em;
}
#currentApplicant {
    background-color:#DDD;
}
#applicantInformation {
    margin: 0.8em 0;
}
.sectionHeader {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}